language: java
jdk:
- openjdk8
branches:
  only:
  - main
  - travis
services:
  - docker

before_install:
- docker run --rm --name mypg -v ${PWD}/app/src/main/resources:/docker-entrypoint-initdb.d -p 5432:5432 -e POSTGRES_PASSWORD="password" -e POSTGRES_USER="masil" -e POSTGRES_DB="playthegames" -d postgres


script: "./gradlew clean build -s"

