<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <p> 이름을 입력해주세요 </p>
        <form th:action="@{/games/__${gameId}__}" method="post">
            <label>
                <input type="text" name="userName">
                <input type="hidden" th:value="${gameId}">
            </label>
            <input type="submit" name="완료">
        </form>
    </div>
</th:block>
</html>