<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">이름</th>
                    <th scope="col">점수</th>
                    <th scope="col">날짜</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="rank : ${ranking}">
                <td th:text="${rank.userName}"></td>
                <td th:text="${rank.score.value}"></td>
                <td th:text="${rank.rankedAt}"></td>
            </tr>
            </tbody>
        </table>

        <a th:href="@{/games/__${gameId}__/}"> 다시 게임하기 </a>
    </div>
</th:block>
</html>