<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <table>
            <tbody>
            <tr>
                <td>이름</td>
                <td>점수</td>
                <td>날짜</td>
            </tr>
            <tr th:each="rank : ${ranking}">
                <td th:text="${rank.userName}"></td>
                <td th:text="${rank.score.value}"></td>
                <td th:text="${rank.rankedAt}"></td>
            </tr>
            </tbody>
        </table>

        <td><a th:href="@{/games/__${gameId}__/}"> 다시 게임하기 </a></td>
    </div>
</th:block>
</html>