<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Game Lounge</title>
    <link rel="icon" type="image/x-icon" href="../templates/assets/favicon.ico"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>

<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="#!">Masil Game Lounge</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Masil Game Lounge</h1>
                <p class="fs-4">아래에 시작 할 수 있는 게임의 목록입니다.</p>
                <p class="fs-4"></p>
                <a class="btn btn-primary btn-lg" href="https://github.com/moimp/play-the-games"> github 소스 코드 보기</a>
            </div>
        </div>
    </div>
</header>

<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                <i class="bi bi-collection"></i>
                        </div>
                        <a th:href="@{/games/__${gameId}__/}">
                            <h2 class="fs-4 fw-bold">하이로우게임</h2>
                        </a>
                        <p class="mb-0">하이로우게임은 숫자 맞추기 게임입니다. 사용자의 입력값에 따라 위 또는 아래를 알려줍니다.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                            <i class="bi bi-cloud-download"></i></div>
                        <h2 class="fs-4 fw-bold">숫자야구게임</h2>
                        <p class="mb-0">숫자야구게임은 내가 입력한 값에 따라 '1볼 2스트' 이런식으로 정답을 유추해가는 게임입니다. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<table>
    <tr>
        <td>HighLowGame</td>
    </tr>
    <tr>
        <td><a th:href="@{/games/__${gameId}__/}"> 게임 시작! </a></td>
    </tr>
</table>
</body>
</html>
