<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HighLowGame</title>
</head>
<body>
<br/>
<span th:text="'이름은' + ${userName}">wait</span>
<br/>
<span th:if="${result} != null" th:text="'결과는 ' + ${result}">wait</span>
<br/><br/>
<span>숫자를 입력하세요.</span>

<form th:action="@{/games/__${gameId}__/turn}" method="post">
    <label>
        <input type="text" name="guessNumber">
    </label>
    <input type="hidden" name="contextId" th:value="${contextId}">
    <input type="hidden" name="userName" th:value="${userName}">
    <input type="submit" name="결과 확인" value="결과 확인">
</form>
</body>
</html>
